/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Gilroy';
}

.center{
    max-width: 1316px;
    margin: 0 auto;
    width: 100%;
}

/*Section 1*/

.container-first header .burger {
    display: none;
}

.container-first{
    background-color: #FFF;
    height: 80px;
    border-bottom: 1px solid #E3E3E3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container-first header{
    background: #fff;
    font-family: 'Gilroy';
    margin-top: 14px;
    margin-bottom: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 506px 197px;
    grid-template-columns: 1fr 545px 197px;
}

.container-first header .menu .btn-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container-first header .menu .btn-menu .dropdown .btn{
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
    padding: 0 15px;
}

.container-first header .menu .btn-menu .dropdown .btn img{
    padding-left: 8px;
}

.container-first header .menu .btn-menu .dropdown .btn:hover{
    color: #EB6329;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu{
    padding: 20px;
    --bs-dropdown-link-active-bg: #FFF;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu .one{
    padding-bottom: 10px;
    border-bottom: solid 1px #E3E3E3;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu .two{
    padding-top: 10px;
}

.container-first header .menu ul li a,
.container-first header .tel{
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
    
}

.container-first header .menu ul .linerighthead{
    border-right: solid 1px #D9D9D9;
    padding-right: 20px;
}

.container-first header .menu ul .linelefthead{
    border-left: solid 1px #D9D9D9;
    padding-left: 20px;
}

.container-first header .menu ul .linenone{
    padding-left: 20px;
}


.container-first header .menu ul li a:hover{
    color: #EB6329;
}


.container-first header .tel a{
    color: #EB6329;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-decoration: none;
}

.container-head .head-content{
    background-image: url(../images/headfon.jpg);
    padding-top: 102px;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    background-position: center;
    
}

.container-head  .head-content .head-content-name{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.container-head  .head-content .head-content-name .name{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15px 1fr;
    grid-template-columns: 15px 1fr;
    margin-top: 100px;
}

.container-head .head-content .head-content-name .name h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%; /* 52px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 623px;
}

.container-head  .head-content .head-content-name p{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%; /* 28.6px */
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 30px;
    width: 638px;
}

.container-head  .head-content .head-content-name .btn-headarrow{
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: start;
    margin-left: -13px;
}

.container-head .head-botton{
    background: #1A1A1A;
}
.container-head  .head-botton .head-botton-card{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.container-head  .head-botton .head-botton-card p{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%; /* 18px */
    padding-top: 17px;
    padding-bottom: 17px;
}

.container-head  .head-botton .head-botton-card img{
     width: 100%;
} 

.container-head  .head-botton .head-botton-card .head-card{
    background: #464646;
}

    /*Section 2*/

.container-solutions{
    background: #FFF;
}

.container-solutions .solutions-arrow{
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-solutions .solutions-cart{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 150px;
}

.container-solutions .solutions-cart .cart-info{
    background: #464646;
}

.container-solutions .solutions-cart .cart-info img{
    margin-top: 25px;
    margin-left: 20px;
}

.container-solutions .solutions-cart .cart-info h4{
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 110%; /* 25.3px */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 60px;
    width: 259px;
    margin-left: 20px;
}

.container-solutions .solutions-cart .cart-info .editing-one{
    margin-bottom: 35px;
}

.container-solutions .solutions-cart .cart-info .editing-two{
    margin-bottom: 10px;
}

.container-solutions .solutions-cart .cart-info p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    margin-left: 20px;
    margin-bottom: 25px;
    width: 225px;
}

.container-solutions .solutions-bottom{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    margin-bottom: 150px;
}

.container-solutions .solutions-bottom .solutions-info h2{
    color: #EB6329;
    font-size: 75px;
    font-weight: 700;
    line-height: 100%; /* 75px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container-solutions .solutions-bottom .solutions-info p{
    color: #464646;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
    border-left-style: solid;
    border-width: 5px;
    border-color: #EB6329;
    padding-left: 12px;
    height: 102px;

}

    /*Section 3*/

.container-projects .projects-top{
    background: #464646;
}

.container-projects .projects-top .projects-arrow{
    padding-top: 100px;
    margin-bottom: 50px;
}

.container-projects .projects-top .projects-carts{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    -ms-grid-rows: 300px 300px;
    grid-template-rows: 300px 300px; 
    margin-bottom: 40px;
}

.container-projects .projects-top .projects-carts > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.container-projects .projects-top .projects-carts > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.container-projects .projects-top .projects-carts > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.container-projects .projects-top .projects-carts > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.container-projects .projects-top .projects-carts > *:nth-child(5){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.container-projects .projects-top .projects-carts > *:nth-child(6){
    -ms-grid-row: 1;
    -ms-grid-column: 6;
}

.container-projects .projects-top .projects-carts > *:nth-child(7){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.container-projects .projects-top .projects-carts > *:nth-child(8){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.container-projects .projects-top .projects-carts > *:nth-child(9){
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.container-projects .projects-top .projects-carts > *:nth-child(10){
    -ms-grid-row: 2;
    -ms-grid-column: 4;
}

.container-projects .projects-top .projects-carts > *:nth-child(11){
    -ms-grid-row: 2;
    -ms-grid-column: 5;
}

.container-projects .projects-top .projects-carts > *:nth-child(12){
    -ms-grid-row: 2;
    -ms-grid-column: 6;
}

.container-projects .projects-top .projects-carts .carts{
    position: relative;
}
.container-projects .projects-top .projects-carts .carts .fonts img{
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
}

.container-projects .projects-top .projects-carts .carts .fonts img:hover{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

.container-projects .projects-top .projects-carts .carts .text a{
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    line-height: 120%; /* 20.4px */
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 155px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.container-projects .projects-top .projects-carts .carts .text  a img{
    position: absolute;
    left: 160px;
    bottom: 3px;
}

.container-projects .projects-top .projects-mini{
    padding-bottom: 100px;
    text-align: center

}

.container-projects .projects-top .projects-mini a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; /* 20px */
    text-decoration: none;

}

.container-projects .projects-top .projects-mini a img{
    margin-left: 10px;
}

.container-projects .projects-bottom{
    background: #EB6329;
}

.container-projects .projects-bottom .projects-questions h3{
    color:  #FFF;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    padding-top: 150px;
    width: 497px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container-projects .projects-bottom .projects-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    padding-bottom: 150px;
    
}

.container-projects .projects-bottom .projects-button .btn-projectsone{
    color: var(--orange, #EB6329);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; /* 20px */
    padding: 18px 28px;
    border: solid;
    background-color: #FFF;

}


.container-projects .projects-bottom .projects-button .btn-projectstwo{
    color:  #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%; /* 20px */
    padding: 18px 28px;
    border: solid 1px #FFF;
    background-color: #EB6329;

}

.container-projects .projects-bottom .projects-button .btn-projectsone:hover,
.container-projects .projects-bottom .projects-button .btn-projectstwo:hover{
    background-color: #F0F0F0;
}


/*Section 4*/

.container-stages{
    background-color: #FFF;
}

.container-stages .stages-head h2{
    color: #464646;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    letter-spacing: 1.02px;
    text-transform: uppercase;
    margin-top: 100px;
    width: 602px;
    margin-bottom: 50px;
}

.container-stages .base-stages{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 412px 40px 412px 40px 412px;
    grid-template-columns: 412px 412px 412px;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
}

.container-stages .base-stages .base-one img,
.container-stages .base-stages .base-two img,
.container-stages .base-stages .base-three img{
    width: 100%;
}


.container-stages .base-stages .base-one h4,
.container-stages .base-stages .base-two h4,
.container-stages .base-stages .base-three h4{
    color: #464646;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
    margin-top: 30px;
    margin-bottom: 10px;
}

.container-stages .base-stages .base-one p,
.container-stages .base-stages .base-two p,
.container-stages .base-stages .base-three p{
    color:#464646;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%; /* 26.4px */
    margin-bottom: 100px;
}

.container-stages .stages-arrow{
    margin-bottom: 71px;
}

.container-stages .stages-cycle{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 153px 1fr 153px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 153px;
       -moz-column-gap: 153px;
            column-gap: 153px;
}

.container-stages .stages-cycle p{
    color:#EB6329;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    width: 299px;
    height: 79px;
    border-left-style: solid;
    border-width: 5px;
    border-color: #EB6329;
    padding-left: 10px;
    margin-bottom: 11px;
}

.container-stages .big-arrow{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    text-align: center;
}

.container-stages .big-arrow .two,
.container-stages .big-arrow .four,
.container-stages .big-arrow .six{
    margin-top: 92px;
}

.container-stages .stages-bottom{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.container-stages .stages-bottom p{
    color:#EB6329;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    width: 299px;
    height: 79px;
    border-left-style: solid;
    border-width: 5px;
    border-color: #EB6329;
    padding-left: 10px;
    margin-top: 11px;
    margin-bottom: 100px;
}

.container-stages .stages-bottom .one{
    margin-left: 226px;

}

.container-stages .stages-bottom .two{
    margin-left: 70px;

}

.container-stages .stages-bottom .three{
    margin-left: 170px;

}


/*Section 5*/

.container-advantages{
    background: #D8D8D8;
    padding-bottom: 100px;
}

.container-advantages .advantages-name{
    color: #464646;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    letter-spacing: 1.02px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 50px;
}

.container-advantages .advantages-cart{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 40px;

}

.container-advantages .advantages-cart .cart,
.container-advantages .advantages-cart .cart-big{
    background-color: rgba(255, 255, 255, 1);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 87px 1fr;
    grid-template-columns: 87px 1fr;
    padding: 50px 25px;
}

.container-advantages .advantages-cart .cart .advantages-text h4{
    color: #464646;
    font-size: 28px;
    font-weight: 700;
    line-height: 110%; /* 30.8px */
    padding-top: 15px;
    padding-bottom: 26px;
}

.container-advantages .advantages-cart .cart-big .advantages-text h4{
    font-size: 28px;
    color: #464646;
    font-weight: 700;
    line-height: 110%; /* 30.8px */
    padding-top: 0;
    padding-bottom: 10px;
}


.container-advantages .advantages-cart .cart .advantages-text p,
.container-advantages .advantages-cart .cart-big .advantages-text p{
    color:  #464646;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%; /* 26.4px */
}

/*Section 6*/

.container-calculation{
    padding-bottom: 100px;

}

.container-calculation .calculation-name h2{
    padding-top: 100px;
    color: #EB6329;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    letter-spacing: 1.02px;
    text-transform: uppercase;
    padding-bottom: 50px;
    width: 751px;
}

.container-calculation .calculation-info{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 153px 525px;
    grid-template-columns: 1fr 525px;
    -webkit-column-gap: 153px;
       -moz-column-gap: 153px;
            column-gap: 153px;
}

.container-calculation .calculation-info .calculation-left h3{
    color: #464646;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%; /* 28px */
    padding-bottom: 30px;
}

.container-calculation .calculation-info .calculation-left .calculation-transfer{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 27px 1fr;
    grid-template-columns: 27px 1fr;
}

.container-calculation .calculation-info .calculation-left .calculation-transfer p{
    color:  #464646;
    font-size: 22px;
    font-weight: 400;
    line-height: 130%;
    padding-bottom: 20px;
}



/* кнопка начало */

.modal .modal-dialog .modal-content{
    width: 638px;
}

.modal .modal-dialog .modal-content .modal-header{
    border-bottom: none;
}

.modal .modal-dialog .modal-content .modal-body{
    margin-left: 45px;
    margin-right: 45px;
}

.modal .modal-dialog .modal-content .modal-body .contacts-right input,
.modal .modal-dialog .modal-content .modal-body .contacts-right select,
.modal .modal-dialog .modal-content .modal-body .contacts-right .form-floating{
    margin-bottom: 15px;
    width: 518px;
}

.modal .modal-dialog .modal-content .modal-body .contacts-right .form-check-input{
    width: 15px;
}

.modal .modal-dialog .modal-content .modal-body .contacts-right .form-floating textarea{
    height: 130px;
}

.modal .modal-dialog .modal-content .modal-body .contacts-right .form-check{
    color: #EB6329;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%; /* 18px */
    margin-bottom: 40px;

}

.modal .modal-dialog .modal-content .modal-body .contacts-right .form-check span{
    color: #464646;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
}

.modal .modal-dialog .modal-content .modal-footer{
    border-top: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 60px;
    padding-bottom: 45px;
    margin-top: -40px;
}

.modal .modal-dialog .modal-content .modal-footer .btn{
    padding: 18px 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%; /* 20px */
}

.modal .modal-dialog .modal-content .modal-footer .btn:hover{
    background: #EB6329;
    border-color: #EB6329;

}

.modal .modal-dialog .modal-content .modal-body h3{
    color: #000;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
}

.modal .modal-dialog .modal-content .modal-body p{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    padding-bottom: 50px;
}

/* кнопка конец */


.container-calculation .calculation-info .calculation-left .btn{
    padding-top: 30px;
    margin-left: -13px;
}

.container-calculation .calculation-info .calculation-right img{
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 641px;
}

/*Section 7*/

.container-footer{
    background: #1A1A1A;
}

.container-footer .footer-info{
    padding-top: 50px;
    padding-bottom: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 453px 295px;
    grid-template-columns: 1fr 453px 295px;

}

.container-footer .footer-info .footer-logo >img{
    padding-bottom: 19px;
}

.container-footer .footer-info .footer-logo .footer-left{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 1fr;
    grid-template-columns: 30px 1fr;
    padding-top: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;

}

.container-footer .footer-info .footer-logo .footer-left a{
    color:  #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
}

.container-footer .footer-info .footer-logo .footer-left a:hover{
    color: #EB6329;
}

.container-footer .footer-info .footer-logo .footer-policy p{
    color: rgba(235, 99, 41, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%; /* 16px */
    margin-top: 75px;
}

.container-footer .footer-info .footer-logo .footer-policy p span{
    color: rgba(171, 171, 171, 0.8);
}

.container-footer .footer-info .footer-center ul li{
    padding-bottom: 20px;
}

.container-footer .footer-info .footer-center ul li a{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;

}

.container-footer .footer-info .footer-center ul li a:hover{
    color: #EB6329;
}


.container-footer .footer-info .footer-right h3{
    color: #EB6329;
    font-size: 28px;
    font-weight: 600;
    line-height: 100%; /* 28px */
    padding-bottom: 10px;
}

.container-footer .footer-info .footer-right  .tell{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    letter-spacing: 0.36px;
    padding-bottom: 38px;
}

.container-footer .footer-info .footer-right .right-info{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 1fr;
    grid-template-columns: 30px 1fr;
    padding-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container-footer .footer-info .footer-right .right-info a:hover{
    color: #EB6329;
}

.container-footer .footer-info .footer-right .right-address{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 1fr;
    grid-template-columns: 30px 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

.container-footer .footer-info .footer-right .right-info .email{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    text-transform: lowercase;

}

.container-footer .footer-info .footer-right .right-address .address{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    text-decoration: none;
}

.container-footer .footer-info .footer-right .right-address .address:hover{
    color: #EB6329;
}

.container-footer .footer-info .footer-right .footer-bootom{
    color:  #ABABAB;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%; /* 16px */
    padding-top: 70px;
    text-align: end;
}


@media screen and (max-width: 1336px){
    .center{
        width: calc(100% - 40px);
    }
    .container-projects .projects-top .projects-carts .carts{
        width: 189px;
        height: 261px;
    }
    .container-projects .projects-top .projects-carts .carts .text a {
        margin-bottom: -30px;
    }
    .container-projects .projects-top .projects-mini {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 1300px){
    .container-first header .burger{
        display: block;
        height: 20px;
    }

    .container-first header .burger i{
        display: block;
        width: 30px;
        margin: 3px 0;
        height: 3px;
        background: #464646;
    }
    .container-first header .menu{
        /* display: none; */
        left: -100%;
        /* opacity: 0; */
        min-height: 100vh;
        background: #FFF;
        position: fixed;
        top: 0;
        /* left: 0; */
        width: 85%;
        z-index: 10;
        transition: 1s;
        min-width: 270px;
        color: #fff;
        margin-top: 80px;
        
    }

    .container-first header .menu.menu-show{
        left: 0;
        margin-top: 80px;
    }

    .container-first header .menu .btn-menu {
        align-items: flex-start;
        padding-left: 57px;
    }

    .container-first header .menu .btn-menu li{
        border-bottom: 1px  solid #D8D8D8;
        padding-bottom: 30px;
        width: 95%;
        border-left: none;
        border-right: none;
    }

    .container-first header .menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .container-first header .menu ul img{
        display: none;
    }

    .container-first header .menu ul li,
    .container-first header .menu ul li.contact-btn{
        margin-left: 0;
        margin-right: 0;
        margin: 30px 0;
    }

    .container-first header .menu .btn-menu .dropdown .dropdown-menu{
        display: contents;
    }

    .container-first header .menu .btn-menu .dropdown .dropdown-menu .one{
        padding-top: 35px;
        padding-bottom: 30px;
    }

    .container-first header .menu .btn-menu .dropdown{
        border: none;
        margin-bottom: -30px;
    } 

    .container-stages .base-stages {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container-solutions .solutions-cart {
        column-gap: 30px;
        row-gap: 30px;
    }

    .container-solutions .solutions-cart .cart-info h4{
        width: 100%;
        margin-bottom: 34px;
        margin-left: 10px;
        padding-right: 20px;
        
    }
    .container-solutions .solutions-cart .cart-info p {
        width: 100%;
        margin-left: 10px;
        padding-right: 20px;
    }

    .container-solutions .solutions-cart .cart-info .editing-one {
        padding-right: 20px;
    }

    .container-stages .stages-scroll{
        overflow: scroll;
    }
    
    .container-calculation .calculation-info{
        column-gap: 100px;
        grid-template-columns: 1fr 50%;
    }

    .container-solutions .solutions-bottom {
        column-gap: 30px;
    }

    .container-solutions .solutions-bottom .solutions-info h2{
        font-size: 70px;
    }

    .container-solutions .solutions-bottom .solutions-info p{
        font-size: 24px;
    }

    .container-advantages .advantages-cart{
        column-gap: 30px;
        row-gap: 30px;
    }

    .container-advantages .advantages-cart .cart,
    .container-advantages .advantages-cart .cart-big{
        padding: 30px 25px;
    }

    .container-advantages .advantages-cart .cart .advantages-text h4,
    .container-advantages .advantages-cart .cart-big .advantages-text h4{
        font-size: 24px;
    }

    .container-advantages .advantages-cart .cart .advantages-text p,
    .container-advantages .advantages-cart .cart-big .advantages-text p{
        font-size: 18px;
    } 
}

@media screen and (max-width: 1024px){
    .container-head .head-botton .head-botton-card {
        grid-template-columns: 340px 340px;
        justify-content: center;
        column-gap: 40px;
        row-gap: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .container-solutions .solutions-arrow img{
        margin-left: -160px;
    }

    .container-solutions .solutions-cart{
        grid-template-columns: 340px 340px;
        justify-content: center;
    }

    .container-solutions .solutions-bottom {
        grid-template-columns: 340px 340px;
        justify-content: center;
        row-gap: 80px;
        margin-bottom: 130px;
    }

    .container-projects .projects-top .projects-arrow{
        margin-left: -160px;
    }

    .container-projects .projects-top .projects-carts{
        grid-template-columns: 240px 240px 240px;
        grid-template-rows: 331px 331px 331px 331px;
        justify-content: center;
        margin-bottom: 0;
    }

    .container-projects .projects-bottom .projects-questions h3{
        font-size: 30px;
    }

    .container-stages .base-stages{
        grid-template-columns: 1fr 1fr;
    }

    .container-stages .stages-arrow{
        margin-left: -160px;
    }

    .container-advantages .advantages-cart{
        grid-template-columns: 340px 340px;
        justify-content: center;
    }

    .container-calculation .calculation-info{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container-calculation .calculation-info .calculation-right img{
        width: 720px;
        height: 875px;
        margin-top: 50px;
    }

    .container-footer .footer-info{
        grid-template-columns: 1fr 1fr;
    }

    .container-footer .footer-info .footer-right{
        grid-column: 2/4;
        grid-row: 1;
        
    }

    .container-footer .footer-info .footer-center{
        grid-column: 1;
        grid-row: 1;
        padding-top: 60px;
    }

    .container-footer .footer-info .footer-logo .footer-left{
        display: none;
    }
    .container-footer .footer-info .footer-logo .Youtubeimg{
        display: block;
        padding-top: 160px;
    }

    .container-footer .footer-info .footer-logo{
        margin-top: -290px;
    }

    .container-footer .footer-info .footer-logo .footer-policy p{
        margin-top: 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 834px){
    .container-footer .footer-info .footer-logo {
        margin-top: -320px;

    }
    .container-first header .menu .btn-menu .dropdown .btn,
    .container-first header .menu ul li a,
    .container-first header .tel{
        font-size: 14px;
    }
    
    .modal .modal-dialog .modal-content .modal-body .contacts-right input, .modal .modal-dialog .modal-content .modal-body .contacts-right select, .modal .modal-dialog .modal-content .modal-body .contacts-right .form-floating {
        width: 100%;
    }

}

@media screen and (max-width: 800px){
    .container-first header .tel{
        display: none;
    }
    .container-first header{
        grid-template-columns: 1fr 1fr;
        justify-items: end;
    }

    .container-head .head-content .head-content-name{
        grid-template-columns: 1fr;
        width: 90%;
    }

    .container-head .head-content .head-content-name .name img{
        display: none;
    }

    .container-head .head-content .head-content-name .name h1{
        width: 90%;
        font-size: 26px;
        border-left-style: solid;
        border-width: 3px;
        border-color: #EB6329;
        padding-left: 10px;
        height: 100%;
    }

    .container-head  .head-content .head-content-name .name{
        display: block
    }

    .container-head .head-content .head-content-name p{
        width: 90%;
        font-size: 18px;
    }

    .container-head .head-botton .head-botton-card{
        grid-template-columns: 540px;
    }

    .container-solutions .solutions-arrow img{
        width: 700px;
        margin-left: -225px;
    }

    .container-solutions .solutions-cart{
        grid-template-columns: 340px;
    }

    .container-solutions .solutions-cart .cartmin{
        display: none;
    }

    .container-solutions .solutions-bottom{
        grid-template-columns: 162px 162px;
        row-gap: 40px;
    }

    .container-solutions .solutions-bottom img{
        display: none;
    }

    .container-solutions .solutions-bottom .solutions-info h2{
        font-size: 30px;
    }

    .container-solutions .solutions-bottom .solutions-info p{
        font-size: 15px;
        height: auto;
        border-width: 3px;
    }

    .container-projects .projects-top .projects-arrow img{
        width: 700px;
        margin-left: -40px;
    }

    .container-projects .projects-top .projects-carts{
        grid-template-columns: 170px 170px;
        grid-template-rows: 234px 234px 234px 234px;
        padding-bottom: 40px;

    }

    .container-projects .projects-top .projects-carts .carts{
        width: 100%;
        height: 100%;

    }

    .container-projects .projects-top .projects-carts .carts .fonts img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-projects .projects-top .projects-carts .carts .text a{
        font-size: 15px;
        width: 139px;
        bottom: 70px;
    }

    .container-projects .projects-top .projects-carts .carts .text a img {
        left: 120px;
        bottom: -30px;
    
    }

    .container-projects .projects-bottom .projects-questions h3{
        font-size: 24px;
        padding-top: 100px;
    }

    .container-projects .projects-bottom .projects-button{
        flex-direction: column;
        padding-bottom: 100px;
    }

    .container-stages .stages-head h2{
        font-size: 24px;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .container-stages .base-stages {
        grid-template-columns: 1fr;
    
    }

    .container-stages .stages-arrow img{
        width: 700px;
        margin-left: -40px;

    }

    .container-advantages .advantages-name{
        font-size: 24px;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .container-advantages .advantages-cart{
        grid-template-columns: 340px;
    }

    .container-calculation .calculation-name h2{
        font-size: 24px;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .container-calculation .calculation-info .calculation-left h3{
        font-size: 20px;
        padding-bottom: 20px;
    }

    .container-calculation .calculation-info .calculation-left .calculation-transfer p{
        font-size: 18px;
    }
    .container-calculation .calculation-info .calculation-right img{
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    .container-calculation .calculation-info .calculation-right{
        text-align: center;
    }

    .container-footer .footer-info{
        grid-template-columns: 1fr;
        grid-column: auto;
        grid-row: auto;
        width: 90%;
    }

    .container-footer .footer-info .footer-right {
        grid-column: 1;
        grid-row: 2;
    }

    .container-footer .footer-info .footer-center {
        grid-column: 1;
        grid-row: 3;
        margin-top: -280px;
        z-index: 1;
    }

    .container-footer .footer-info .footer-logo {
        margin-top: 0;
        z-index: 1;
    }

    .container-footer .footer-info .footer-logo .footer-left{
        display: block;
    }

    .container-footer .footer-info .footer-logo .Youtubeimg{
        padding-top: 20px;
    }

    .container-footer .footer-info .footer-logo >img{
        padding-bottom: 50px;
    }
    .container-footer .footer-info .footer-right{
        margin-top: -550px;
    }

    .container-footer .footer-info .footer-right .right-info{
        margin-top: 140px;
    }


    .container-footer .footer-info .footer-logo .footer-policy{
        margin-top: 340px;
    }

    .container-footer .footer-info .footer-right .footer-bootom{
        margin-top: 150px;
    }
}

@media screen and (max-width: 600px){
    .container-head .head-botton .head-botton-card {
        grid-template-columns: 340px;
    }

    .container-stages .stages-arrow img {
        width: 500px;
        margin-left: 16px;
    }

    .container-projects .projects-top .projects-arrow img {
        width: 500px;
        margin-left: 16px;
    }

    .container-solutions .solutions-arrow img {
        width: 500px;
        margin-left: -170px;
    }

    .container-projects .projects-bottom .projects-questions h3 {
        width: 340px;
    }

    .modal .modal-dialog .modal-content .modal-body {
        margin: 0;
    }
}
