/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Gilroy';
}

.center{
    max-width: 1316px;
    margin: 0 auto;
    width: 100%;
}

/*Section 1*/

.container-first header{
    background: #fff;
    font-family: 'Gilroy';
    margin-top: 14px;
    margin-bottom: 14px;
    align-items: center;
    display: grid;
    grid-template-columns: 610px 1fr 197px;
}
.container-first header .menu ul{
    display: flex;
    justify-content: space-between;
}

.container-first header .menu ul li a,
.container-first header .tel{
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
}

.container-first header .menu ul li a img{
    margin-left: 8px;
    vertical-align: bottom;
}

.container-first header .tel{
    color: #EB6329;
    display: flex;
    justify-content: flex-end;
}

.container-first .head-content{
    background-image: url(../images/headfon.jpg);

}

.container-first .head-content .head-content-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-first .head-content .head-content-name .name{
    display: grid;
    grid-template-columns: 15px 1fr;
    margin-top: 100px;
}

.container-first .head-content .head-content-name .name h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%; /* 52px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 623px;
}

.container-first .head-content .head-content-name p{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%; /* 28.6px */
    grid-column: 1;
    grid-row: 2;
    margin-top: 30px;
    width: 638px;
}

.container-first .head-content .head-content-name a{
    grid-column: 1;
    grid-row: 3;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container-first .head-botton{
    background: #1A1A1A;
}
.container-first .head-botton .head-botton-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.container-first .head-botton .head-botton-card p{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%; /* 18px */
    padding-top: 17px;
    padding-bottom: 17px;
}

.container-first .head-botton .head-botton-card img{
     width: 100%;
} 

.container-first .head-botton .head-botton-card .head-card{
    background: #464646;
}

    /*Section 2*/

.container-solutions{
    background: #FFF;
}

.container-solutions .solutions-arrow{
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-solutions .solutions-cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 150px;
}

.container-solutions .solutions-cart .cart-info{
    background: #464646;
}

.container-solutions .solutions-cart .cart-info img{
    margin-top: 25px;
    margin-left: 20px;
}

.container-solutions .solutions-cart .cart-info h4{
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 110%; /* 25.3px */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 60px;
    width: 259px;
    margin-left: 20px;
}

.container-solutions .solutions-cart .cart-info .editing-one{
    margin-bottom: 35px;
}

.container-solutions .solutions-cart .cart-info .editing-two{
    margin-bottom: 10px;
}

.container-solutions .solutions-cart .cart-info p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    margin-left: 20px;
    margin-bottom: 25px;
    width: 225px;
}

.container-solutions .solutions-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 150px;
}

.container-solutions .solutions-bottom .solutions-info h2{
    color: #EB6329;
    font-size: 75px;
    font-weight: 700;
    line-height: 100%; /* 75px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container-solutions .solutions-bottom .solutions-info p{
    color: #464646;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
    border-left-style: solid;
    border-width: 5px;
    border-color: #EB6329;
    padding-left: 12px;
    height: 102px;

}

    /*Section 3*/

.container-projects .projects-top{
    background: #464646;
}

.container-projects .projects-top .projects-arrow{
    padding-top: 100px;
    margin-bottom: 50px;
}

.container-projects .projects-top .projects-carts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px; 
    margin-bottom: 40px;
}

.container-projects .projects-top .projects-carts .carts{
    position: relative;
}

.container-projects .projects-top .projects-carts .carts .text a{
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    line-height: 120%; /* 20.4px */
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 155px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.container-projects .projects-top .projects-carts .carts .text  a img{
    position: absolute;
    left: 160px;
    bottom: 3px;
}

.container-projects .projects-top .projects-mini{
    padding-bottom: 100px;
    text-align: center

}

.container-projects .projects-top .projects-mini a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; /* 20px */
    text-decoration: none;

}

.container-projects .projects-top .projects-mini a img{
    margin-left: 10px;
}

.container-projects .projects-bottom{
    background: #EB6329;
}

.container-projects .projects-bottom .projects-questions h3{
    color:  #FFF;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    padding-top: 150px;
    width: 497px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container-projects .projects-bottom .projects-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 150px;
    
}

.container-projects .projects-bottom .projects-button .set p{
    color: var(--orange, #EB6329);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; /* 20px */
    padding: 18px 28px;
    border: solid;
    background-color: #FFF;
    width: 141px;
}

.container-projects .projects-bottom .projects-button .choose p{
    color:  #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%; /* 20px */
    padding: 18px 28px;
    border: solid 1px #FFF;
    background-color: #EB6329;
    width: 154px;
}


/*Section 4*/

.container-stages{
    background-color: #FFF;
}

.container-stages .stages-head h2{
    color: #464646;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    letter-spacing: 1.02px;
    text-transform: uppercase;
    margin-top: 100px;
    width: 602px;
    margin-bottom: 50px;
}

.container-stages .base-stages{
    display: grid;
    grid-template-columns: 412px 412px 412px;
    column-gap: 40px;
}

.container-stages .base-stages .base-one img,
.container-stages .base-stages .base-two img,
.container-stages .base-stages .base-three img{
    width: 100%;
}


.container-stages .base-stages .base-one h4,
.container-stages .base-stages .base-two h4,
.container-stages .base-stages .base-three h4{
    color: #464646;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
    margin-top: 30px;
    margin-bottom: 10px;
}

.container-stages .base-stages .base-one p,
.container-stages .base-stages .base-two p,
.container-stages .base-stages .base-three p{
    color:#464646;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%; /* 26.4px */
    margin-bottom: 100px;
}

.container-stages .stages-arrow{
    margin-bottom: 71px;
}

.container-stages .stages-cycle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.container-stages .stages-cycle p{
    color:#EB6329;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    width: 299px;
    height: 79px;
    border-left-style: solid;
    border-width: 5px;
    border-color: #EB6329;
    padding-left: 10px;
    margin-bottom: 11px;
}

.container-stages .big-arrow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.container-stages .big-arrow .two,
.container-stages .big-arrow .four,
.container-stages .big-arrow .six{
    margin-top: 92px;
}

.container-stages .stages-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.container-stages .stages-bottom p{
    color:#EB6329;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    width: 299px;
    height: 79px;
    border-left-style: solid;
    border-width: 5px;
    border-color: #EB6329;
    padding-left: 10px;
    margin-top: 11px;
    margin-bottom: 100px;
}

.container-stages .stages-bottom .one{
    margin-left: 226px;

}

.container-stages .stages-bottom .two{
    margin-left: 153px;

}

.container-stages .stages-bottom .three{
    margin-left: 40px;

}


/*Section 5*/

.container-advantages{
    background: #D8D8D8;
    padding-bottom: 100px;
}

.container-advantages .advantages-name{
    color: #464646;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
    letter-spacing: 1.02px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 50px;
}

.container-advantages .advantages-cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;

}

.container-advantages .advantages-cart .cart,
.container-advantages .advantages-cart .cart-big{
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-columns: 87px 1fr;
    padding: 50px 25px;
}

.container-advantages .advantages-cart .cart .advantages-text h4{
    color: #464646;
    font-size: 28px;
    font-weight: 700;
    line-height: 110%; /* 30.8px */
    padding-top: 15px;
    padding-bottom: 26px;
}

.container-advantages .advantages-cart .cart-big .advantages-text h4{
    font-size: 28px;
    color: #464646;
    font-weight: 700;
    line-height: 110%; /* 30.8px */
    padding-top: 0;
    padding-bottom: 10px;
}


.container-advantages .advantages-cart .cart .advantages-text p,
.container-advantages .advantages-cart .cart-big .advantages-text p{
    color:  #464646;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%; /* 26.4px */
}


