/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: "Gilroy";
}

.center {
  max-width: 1316px;
  margin: 0 auto;
  width: 100%;
}

/*Section 1*/
.container-first header .burger {
  display: none;
}

.container-first {
  background-color: #FFF;
  height: 80px;
  border-bottom: 1px solid #E3E3E3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.container-first header {
  background: #fff;
  font-family: "Gilroy";
  margin-top: 14px;
  margin-bottom: 14px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 506px 197px;
}

.container-first header .menu .btn-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-first header .menu .btn-menu .dropdown .btn {
  color: #464646;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  text-decoration: none;
  padding: 0;
}

.container-first header .menu .btn-menu .dropdown .btn img {
  padding-left: 8px;
}

.container-first header .menu .btn-menu .dropdown .btn:hover {
  color: #EB6329;
}

.container-first header .menu .btn-menu .dropdown .line {
  margin-left: 8px;
  vertical-align: bottom;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu {
  padding: 20px;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu .one {
  padding-bottom: 10px;
  border-bottom: solid 1px #E3E3E3;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu .two {
  padding-top: 10px;
}

.container-first header .menu ul li a,
.container-first header .tel {
  color: #464646;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  text-decoration: none;
}

.container-first header .menu ul li a:hover {
  color: #EB6329;
}

.container-first header .menu ul li a img {
  margin-left: 8px;
  vertical-align: bottom;
}

.container-first header .tel {
  color: #EB6329;
  display: flex;
  justify-content: flex-end;
}

.head .head-content {
  background-image: url(../images/page3/fonhead.jpg);
  background-size: cover;
  width: 100%;
  max-width: 100%;
  background-position: center;
  margin-bottom: 100px;
  padding-top: 80px;
}

.head .head-content .head-content-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.head .head-content .head-content-name .name {
  display: grid;
  grid-template-columns: 15px 1fr;
  margin-top: 100px;
}

.head .head-content .head-content-name .name h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  line-height: 130%; /* 52px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 623px;
}

.head .head-content .head-content-name p {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  grid-column: 1;
  grid-row: 2;
  margin-top: 30px;
  width: 638px;
  margin-bottom: 424px;
}

@media only screen and (max-width: 825px) {
  .container-company {
    margin-top: -40px;
  }
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .listgr .list-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #D8D8D8;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .listgr .list-group {
    flex-direction: column;
  }
}
.container-company .container-content .listgr .list-group a {
  color: #ABABAB;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%; /* 24px */
  padding-bottom: 20px;
  text-decoration: none;
  width: 200px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .listgr .list-group a {
    justify-content: space-between;
    font-size: 18px;
    width: auto;
  }
}
.container-company .container-content .listgr .list-group a:hover {
  color: #EB6329;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .listgr .list-group a:hover {
    border-bottom: 1px solid #EB6329;
    padding-bottom: 1px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .listgr .list-group a:hover {
    border-bottom: none;
  }
}
.container-company .container-content .SteelMetriXX h2 {
  color: #EB6329;
  font-size: 34px;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
  letter-spacing: 1.02px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX h2 {
    font-size: 30px;
    padding-top: 40px;
  }
}
.container-company .container-content .SteelMetriXX .company {
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  margin-bottom: 50px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX .company {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.container-company .container-content .SteelMetriXX .SteelMetriXX-info {
  display: grid;
  grid-template-columns: 1fr 525px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 50px;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info {
    grid-template-columns: 340px 340px;
    justify-content: center;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info {
    grid-template-columns: 340px;
    row-gap: 30px;
  }
}
.container-company .container-content .SteelMetriXX .SteelMetriXX-info .projectdepartment img,
.container-company .container-content .SteelMetriXX .SteelMetriXX-info .ownproduction img,
.container-company .container-content .SteelMetriXX .SteelMetriXX-info .installation img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info .projectdepartment img,
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info .ownproduction img,
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info .installation img {
    width: 340px;
    height: 452px;
  }
}
.container-company .container-content .SteelMetriXX .SteelMetriXX-info h3 {
  color: #464646;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%; /* 36.4px */
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
.container-company .container-content .SteelMetriXX .SteelMetriXX-info p {
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info p {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.container-company .container-content .SteelMetriXX .SteelMetriXX-info ul {
  display: grid;
  grid-template-columns: 22px 1fr;
}
.container-company .container-content .SteelMetriXX .SteelMetriXX-info ul li {
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX .SteelMetriXX-info ul li {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.container-company .container-content .SteelMetriXX .SteelMetriXX-info ul img {
  width: 10px;
  height: 22px;
}
.container-company .container-content .SteelMetriXX > h3 {
  color: #EB6329;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%; /* 40.8px */
  margin-top: 150px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .SteelMetriXX > h3 {
    font-size: 30px;
    margin-top: 130px;
    margin-bottom: 130px;
    text-align: center;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .SteelMetriXX > h3 {
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.container-company .container-content .successes img {
  margin-bottom: 50px;
  margin-left: -635px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .successes img {
    margin-left: -250px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .successes img {
    width: 500px;
    margin-left: -170px;
  }
}
.container-company .container-content .successes .successes-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .successes .successes-info {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 119px;
         column-gap: 119px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .successes .successes-info {
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 30px;
  }
}
.container-company .container-content .successes .successes-info h3 {
  color: #EB6329;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%; /* 40.8px */
  margin-bottom: 5px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .successes .successes-info h3 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .successes .successes-info h3 {
    font-size: 26px;
  }
}
.container-company .container-content .successes .successes-info p {
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .successes .successes-info p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .successes .successes-info p {
    font-size: 15px;
  }
}
.container-company .container-content .successes h2 {
  color: #EB6329;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.84px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .successes h2 {
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .successes h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.container-company .container-content .successes .effective-info {
  border-top: solid 1px #D8D8D8;
  border-bottom: solid 1px #D8D8D8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-company .container-content .successes .effective-info h4 {
  color: #464646;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
  margin-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .successes .effective-info h4 {
    font-size: 18px;
  }
}
.container-company .container-content .successes .effective-info p {
  color: #464646;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .successes .effective-info p {
    font-size: 18px;
  }
}
.container-company .container-content .industries > img {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: -635px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .industries > img {
    margin-left: -270px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .industries > img {
    width: 500px;
    margin-left: -170px;
  }
}
.container-company .container-content .industries .solutions-cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .industries .solutions-cart {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .industries .solutions-cart {
    grid-template-columns: 1fr;
    width: 340px;
  }
}
.container-company .container-content .industries .solutions-cart .cart-info {
  background: #464646;
}
.container-company .container-content .industries .solutions-cart .cart-info img {
  margin-top: 25px;
  margin-left: 20px;
}
.container-company .container-content .industries .solutions-cart .cart-info h4 {
  color: #FFF;
  font-size: 23px;
  font-weight: 700;
  line-height: 110%; /* 25.3px */
  text-align: left;
  margin-top: 10px;
  margin-bottom: 60px;
  width: 259px;
  margin-left: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .industries .solutions-cart .cart-info h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 300px;
  }
}
.container-company .container-content .industries .solutions-cart .cart-info p {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  margin-left: 20px;
  margin-bottom: 25px;
  width: 225px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .industries .solutions-cart .cart-info p {
    font-size: 15px;
    width: 265px;
  }
}
.container-company .container-content .industries .solutions-cart .cart-info .editing-one {
  margin-bottom: 35px;
}
.container-company .container-content .industries .solutions-cart .cart-info .editing-two {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .industries .solutions-cart .cardclose {
    display: none;
  }
}
.container-company .container-content .industries .arrow {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .industries .arrow {
    display: block;
    text-align: center;
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .industries .arrow {
    padding-bottom: 0;
  }
}
.container-company .container-content .industries .arrow a {
  color: #464646;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%; /* 18px */
  text-decoration: none;
}
.container-company .container-content .industries .arrow img {
  padding-left: 10px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .geography {
    text-align: center;
  }
}
.container-company .container-content .geography h2 {
  color: #EB6329;
  font-size: 34px;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
  letter-spacing: 1.02px;
  text-transform: uppercase;
  margin-left: -335px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .geography h2 {
    font-size: 30px;
    margin-left: 0;
    text-align: start;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .geography h2 {
    margin-top: 100px;
    font-size: 24px;
  }
}
.container-company .container-content .geography img {
  margin-left: -335px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1336px) {
  .container-company .container-content .geography img {
    width: 1100px;
    height: 668px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .geography img {
    width: 720px;
    height: 438px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .geography img {
    width: 340px;
    height: 207px;
  }
}
.container-company .container-content .geography .region {
  background: #D8D8D8;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 135%;
  margin-left: -35%;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .geography .region {
    width: 100%;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.container-company .container-content .geography .region h3 {
  color: #464646;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .geography .region h3 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .geography .region h3 {
    font-size: 26px;
  }
}
.container-company .container-content .geography .region p {
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .geography .region p {
    font-size: 18px;
  }
}
.container-company .container-content .geography .region .region-button {
  display: flex;
  justify-content: center;
}
.container-company .container-content .geography .region .region-button .regionbtn {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%; /* 20px */
  padding: 18px 27px;
  align-items: center;
  background: #EB6329;
  text-decoration: none;
}
.container-company .container-content .geography .region .region-button .regionbtn:hover {
  background: #F0F0F0;
  color: #EB6329;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content {
  width: 638px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body {
  margin-left: 45px;
  margin-right: 45px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .contacts-right input,
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .contacts-right select,
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .contacts-right .form-floating {
  margin-bottom: 15px;
  width: 518px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .contacts-right .form-check-input {
  width: 15px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .contacts-right .form-floating textarea {
  height: 130px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .contacts-right .form-check {
  color: #EB6329;
  font-size: 15px;
  font-weight: 500;
  line-height: 120%; /* 18px */
  margin-bottom: 40px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .contacts-right .form-check span {
  color: #464646;
  font-size: 15px;
  font-weight: 500;
  line-height: 120%;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body h3 {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-body .managerinfo {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  padding-bottom: 50px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-footer {
  border-top: none;
  justify-content: start;
  padding-left: 60px;
  padding-bottom: 45px;
  margin-top: -40px;
}
.container-company .container-content .geography .region .region-button .modal .modal-dialog .modal-content .modal-footer .btn {
  padding: 18px 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%; /* 20px */
}
.container-company .container-content .history img {
  margin-top: 100px;
  margin-left: -635px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history img {
    margin-left: -250px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history img {
    width: 500px;
    margin-left: -170px;
  }
}
.container-company .container-content .history .history-blok .year2016_21_22 {
  border-top: solid 1px #D8D8D8;
  border-bottom: solid 1px #D8D8D8;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 73px 1fr 186px 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history .history-blok .year2016_21_22 {
    grid-template-columns: 246px 1fr 251px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history .history-blok .year2016_21_22 {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.container-company .container-content .history .history-blok .year2016_21_22 h3 {
  color: #EB6329;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0.31px;
  grid-column: 1;
  grid-row: 1/3;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history .history-blok .year2016_21_22 h3 {
    grid-column: 1/4;
    grid-row: 1;
    font-size: 28px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history .history-blok .year2016_21_22 h3 {
    grid-column: 1;
    grid-row: 1;
    font-size: 24px;
  }
}
.container-company .container-content .history .history-blok .year2016_21_22 p {
  color: #464646;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history .history-blok .year2016_21_22 p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history .history-blok .year2016_21_22 p {
    grid-column: 1;
    font-size: 15px;
  }
}
.container-company .container-content .history .history-blok .year2016_21_22 .blok2016 {
  grid-column: 2/5;
  grid-row: 1;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history .history-blok .year2016_21_22 .blok2016 {
    grid-column: 1/4;
    grid-row: 2;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history .history-blok .year2016_21_22 .blok2016 {
    grid-column: 1;
    grid-row: 2;
  }
}
.container-company .container-content .history .history-blok .year2017_18_19_20_23 {
  border-top: solid 1px #D8D8D8;
  border-bottom: solid 1px #D8D8D8;
  padding-top: 40px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 73px 1fr 186px 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history .history-blok .year2017_18_19_20_23 {
    grid-template-columns: 246px 1fr 251px;
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 20px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history .history-blok .year2017_18_19_20_23 {
    grid-template-columns: 1fr;
  }
}
.container-company .container-content .history .history-blok .year2017_18_19_20_23 h3 {
  color: #464646;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0.31px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history .history-blok .year2017_18_19_20_23 h3 {
    grid-column: 1/4;
    grid-row: 1;
    font-size: 28px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history .history-blok .year2017_18_19_20_23 h3 {
    grid-column: 1;
    grid-row: 1;
    font-size: 24px;
  }
}
.container-company .container-content .history .history-blok .year2017_18_19_20_23 p {
  color: #464646;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .history .history-blok .year2017_18_19_20_23 p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .history .history-blok .year2017_18_19_20_23 p {
    font-size: 15px;
  }
}
.container-company .container-content .team > img {
  margin-top: 100px;
  margin-left: -635px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .team > img {
    margin-left: -250px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .team > img {
    width: 500px;
    margin-left: -170px;
  }
}
.container-company .container-content .team .team-member {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 1200px) {
  .container-company .container-content .team .team-member {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 825px) {
  .container-company .container-content .team .team-member {
    grid-template-columns: 1fr;
  }
}
.container-company .container-content .team .team-member .team-info {
  color: #464646;
}
.container-company .container-content .team .team-member .team-info h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  padding-top: 10px;
}
.container-company .container-content .team .team-member .team-info p {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
  padding-top: 10px;
}

/*Section 3*/
.container-contacts {
  background: #464646;
  padding: 150px;
}
@media only screen and (max-width: 1336px) {
  .container-contacts {
    padding: 130px 116px;
  }
}
@media only screen and (max-width: 1200px) {
  .container-contacts {
    padding: 80px 57px;
  }
}
@media only screen and (max-width: 825px) {
  .container-contacts {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.container-contacts .contacts-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media only screen and (max-width: 1200px) {
  .container-contacts .contacts-info {
    grid-template-columns: 1fr;
  }
}
.container-contacts .contacts-info .contacts-left h3 {
  color: #FFF;
  font-size: 34px;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
}
@media only screen and (max-width: 1200px) {
  .container-contacts .contacts-info .contacts-left h3 {
    font-size: 30px;
  }
}
.container-contacts .contacts-info .contacts-left p {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  padding-top: 20px;
}
@media only screen and (max-width: 1200px) {
  .container-contacts .contacts-info .contacts-left p {
    font-size: 18px;
  }
}
.container-contacts .contacts-info .contacts-left p span {
  font-weight: 700;
  text-decoration-line: underline;
}
.container-contacts .contacts-info .contacts-right {
  background-color: #FFF;
  padding: 60px;
}
@media only screen and (max-width: 1336px) {
  .container-contacts .contacts-info .contacts-right {
    width: 110%;
  }
}
@media only screen and (max-width: 1200px) {
  .container-contacts .contacts-info .contacts-right {
    width: 720px;
    height: 770px;
    margin-top: 50px;
    justify-self: center;
  }
}
@media only screen and (max-width: 900px) {
  .container-contacts .contacts-info .contacts-right {
    width: 100%;
    height: 100%;
  }
}
.container-contacts .contacts-info .btn-dark {
  display: inline-flex;
  padding: 18px 28px;
  justify-content: center;
  align-items: center;
  background: #1A1A1A;
}
.container-contacts .contacts-info .btn-dark a {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%; /* 18px */
  text-decoration: none;
}

.container-contacts .contacts-info .contacts-right input,
.container-contacts .contacts-info .contacts-right select,
.container-contacts .contacts-info .contacts-right .form-floating {
  margin-bottom: 15px;
}

.container-contacts .contacts-info .contacts-right .form-floating textarea {
  height: 130px;
}

.container-contacts .contacts-info .contacts-right .form-check {
  color: #EB6329;
  font-size: 15px;
  font-weight: 500;
  line-height: 120%; /* 18px */
  margin-bottom: 40px;
}

.container-contacts .contacts-info .contacts-right .form-check span {
  color: #464646;
  font-size: 15px;
  font-weight: 500;
  line-height: 120%;
}

/*Section 4*/
.container-footer {
  background: #1A1A1A;
}

.container-footer .footer-info {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 453px 295px;
}

.container-footer .footer-info .footer-logo > img {
  padding-bottom: 19px;
}

.container-footer .footer-info .footer-logo .footer-left {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding-top: 20px;
  align-items: end;
}

.container-footer .footer-info .footer-logo .footer-left a {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  text-decoration: none;
}

.container-footer .footer-info .footer-logo .footer-left a:hover {
  color: #EB6329;
}

.container-footer .footer-info .footer-logo .footer-policy p {
  color: rgba(235, 99, 41, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  margin-top: 75px;
}

.container-footer .footer-info .footer-logo .footer-policy p span {
  color: rgba(171, 171, 171, 0.8);
}

.container-footer .footer-info .footer-center ul li {
  padding-bottom: 20px;
}

.container-footer .footer-info .footer-center ul li a {
  color: #D8D8D8;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  text-decoration: none;
}

.container-footer .footer-info .footer-center ul li a:hover {
  color: #EB6329;
}

.container-footer .footer-info .footer-right h3 {
  color: #EB6329;
  font-size: 28px;
  font-weight: 600;
  line-height: 100%; /* 28px */
  padding-bottom: 10px;
}

.container-footer .footer-info .footer-right .tell {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  letter-spacing: 0.36px;
  padding-bottom: 38px;
}

.container-footer .footer-info .footer-right .right-info {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding-bottom: 20px;
  align-items: center;
}

.container-footer .footer-info .footer-right .right-info a:hover {
  color: #EB6329;
}

.container-footer .footer-info .footer-right .right-address {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: start;
}

.container-footer .footer-info .footer-right .right-info .email {
  color: #D8D8D8;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  text-decoration-line: underline;
  text-transform: lowercase;
}

.container-footer .footer-info .footer-right .right-address .address {
  color: #D8D8D8;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  text-decoration: none;
}

.container-footer .footer-info .footer-right .right-address .address:hover {
  color: #EB6329;
}

.container-footer .footer-info .footer-right .footer-bootom {
  color: #ABABAB;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  padding-top: 70px;
  text-align: end;
}

@media screen and (max-width: 1336px) {
  .center {
    width: calc(100% - 90px);
  }
  .container-first header .burger {
    display: block;
    height: 20px;
  }
  .container-first header .burger i {
    display: block;
    width: 30px;
    margin: 3px 0;
    height: 3px;
    background: #464646;
  }
  .container-first header .menu {
    /* display: none; */
    left: -100%;
    /* opacity: 0; */
    min-height: 100vh;
    background: #FFF;
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 85%;
    z-index: 1;
    transition: 1s;
    min-width: 270px;
    color: #fff;
    margin-top: 80px;
  }
  .container-first header .menu.menu-show {
    left: 0;
    margin-top: 80px;
  }
  .container-first header .menu .btn-menu {
    align-items: flex-start;
    padding-left: 57px;
    padding-top: 30px;
  }
  .container-first header .menu .btn-menu li {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 30px;
    width: 95%;
    margin-top: 0;
  }
  .container-first header .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .container-first header .menu ul img {
    display: none;
  }
  .container-first header .menu ul li,
  .container-first header .menu ul li.contact-btn {
    margin-left: 0;
    margin-right: 0;
    margin: 30px 0;
  }
  .container-first header .menu .btn-menu .dropdown .dropdown-menu {
    display: contents;
  }
  .container-first header .menu .btn-menu .dropdown .dropdown-menu .one {
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .container-first header .menu .btn-menu .dropdown {
    border: none;
    margin-bottom: -30px;
  }
  .form-floating > label {
    z-index: 0;
  }
}
@media screen and (max-width: 1200px) {
  .head .head-content .head-content-name p {
    margin-bottom: 233px;
    font-size: 18px;
    width: 720px;
  }
  .head .head-content .head-content-name .name h1 {
    font-size: 36px;
    width: 705px;
    border-left-style: solid;
    border-width: 5px;
    border-color: #EB6329;
    padding-left: 10px;
    height: 100%;
  }
  .head .head-content .head-content-name {
    grid-template-columns: 1fr;
  }
  .head .head-content .head-content-name img {
    display: none;
  }
  .container-footer .footer-info {
    grid-template-columns: 1fr 1fr;
  }
  .container-footer .footer-info .footer-right {
    grid-column: 2/4;
    grid-row: 1;
  }
  .container-footer .footer-info .footer-center {
    grid-column: 1;
    grid-row: 1;
    padding-top: 60px;
  }
  .container-footer .footer-info .footer-logo .footer-left {
    display: none;
  }
  .container-footer .footer-info .footer-logo .Youtubeimg {
    display: block;
    padding-top: 160px;
  }
  .container-footer .footer-info .footer-logo {
    margin-top: -290px;
  }
  .container-footer .footer-info .footer-logo .footer-policy p {
    margin-top: 20px;
    font-size: 14px;
  }
  .container-footer .footer-info .footer-logo .footer-policy {
    margin-top: 200px;
  }
}
@media screen and (max-width: 825px) {
  .center {
    width: calc(100% - 40px);
  }
  .container-first header .menu .btn-menu .dropdown .btn,
  .container-first header .menu ul li a,
  .container-first header .tel {
    font-size: 14px;
  }
  .container-first header .tel {
    display: none;
  }
  .container-first header {
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
  .head .head-content .head-content-name .name {
    grid-template-columns: 1fr;
  }
  .head .head-content .head-content-name .name h1 {
    width: 100%;
    font-size: 24px;
  }
  .head .head-content .head-content-name p {
    width: 100%;
    margin-bottom: 133px;
  }
  .container-footer .footer-info {
    grid-template-columns: 1fr;
    grid-column: auto;
    grid-row: auto;
    width: 90%;
  }
  .container-footer .footer-info .footer-right {
    grid-column: 1;
    grid-row: 2;
  }
  .container-footer .footer-info .footer-center {
    grid-column: 1;
    grid-row: 3;
    margin-top: -280px;
    z-index: 1;
  }
  .container-footer .footer-info .footer-logo {
    margin-top: 0;
    z-index: 1;
  }
  .container-footer .footer-info .footer-logo .footer-left {
    display: block;
  }
  .container-footer .footer-info .footer-logo .Youtubeimg {
    padding-top: 20px;
  }
  .container-footer .footer-info .footer-logo > img {
    padding-bottom: 60px;
  }
  .container-footer .footer-info .footer-right {
    margin-top: -575px;
  }
  .container-footer .footer-info .footer-right .right-info {
    margin-top: 140px;
  }
  .container-footer .footer-info .footer-logo .footer-policy {
    margin-top: 360px;
  }
  .container-footer .footer-info .footer-right .footer-bootom {
    margin-top: 150px;
  }
}/*# sourceMappingURL=main3.css.map */