/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Gilroy';
}

.center{
    max-width: 1316px;
    margin: 0 auto;
    width: 100%;
}

/*Section 1*/




.container-first{
    background-color: #FFF;
    height: 80px;
    border-bottom: 1px solid #E3E3E3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.container-first header{
    background: #fff;
    font-family: 'Gilroy';
    margin-top: 14px;
    margin-bottom: 14px;
    align-items: center;
    display: grid;
    grid-template-columns: 610px 1fr 197px;

    
}
.container-first header .menu ul{
    display: flex;
    justify-content: space-between;
}

.container-first header .menu ul li a,
.container-first header .tel{
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
}

.container-first header .menu ul li a img{
    margin-left: 8px;
    vertical-align: bottom;
}

.container-first header .tel{
    color: #EB6329;
    display: flex;
    justify-content: flex-end;
}

.head{
    .head-content{
        background: url(../images/page4/metallokonstruk.jpg), lightgray 50% / cover no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 100px; 
        padding-top: 80px;
    }
}

.head .head-content .head-content-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.head .head-content .head-content-name .name{
    display: grid;
    grid-template-columns: 15px 1fr;
    margin-top: 150px;
}

.head .head-content .head-content-name .name h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%; /* 52px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 510px;

}

.head .head-content .head-content-name p{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%; /* 28.6px */
    grid-column: 1;
    grid-row: 2;
    margin-top: 30px;
    width: 638px;
    margin-bottom: 362px;
}
/*Section 2*/

.resourcebase{
    h2{
        color: #EB6329;
        font-size: 34px;
        font-weight: 700;
        line-height: 130%; /* 44.2px */
        letter-spacing: 1.02px;
        text-transform: uppercase;
    }
    h3{
        color: #464646;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%; /* 33.6px */
        letter-spacing: 0.84px;
        text-transform: uppercase;
        padding: 20px 0;
    }
    p{
        color: #464646;
        font-size: 22px;
        font-weight: 500;
        line-height: 130%; /* 28.6px */
        padding-bottom: 10px;
    }
    img{
        max-height: 747px;
        max-width: 1316px;
        margin-bottom: 100px;
    }
}

/*Section 3*/


.technological-equipment{
    h2{
        color: #464646;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%; /* 33.6px */
        letter-spacing: 0.84px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    h3{
        color:#464646;
        font-size: 28px;
        font-weight: 600;
        line-height: 120%; /* 33.6px */
        margin-bottom: 20px;
    }
    .container{    
        padding-bottom: 30px;
        ul{
            border-bottom: solid 1px #D8D8D8;
            .col-6 {
                width: 49%;
            } 
            li{
                a{
                    color:#ABABAB;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 120%; /* 26.4px */
                }
                .active{
                    color:#EB6329;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 120%; /* 26.4px */
                }
            }
        }
    }
    .Cleaning{
        color: #464646;
        font-size: 22px;
        line-height: 130%; /* 28.6px */
        p{
            font-weight: 500;
        }
        h4{
            font-weight: 700;
        }
        .Cleaning-info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 50px;
            column-gap: 40px;
            .marker-info{
                align-self: center;
                h4{
                    padding-top: 30px;
                    padding-bottom: 10px;
                }
                .right-info{
                    display: flex;
                    align-items: flex-start;
                    img{
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

/*Section 4*/


.container-production{
    h2{
        color: #464646;
        font-size: 28px;
        font-weight: 600;
        line-height: 120%; /* 33.6px */
        margin-bottom: 30px ;
        margin-top: 100px;
    }
    .container{    
        padding-bottom: 30px;
        ul{
            border-bottom: solid 1px #D8D8D8;
            .col-6 {
                width: 49%;
            } 
            li{
                a{
                    color:#ABABAB;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 120%; /* 26.4px */
                }
                .active{
                    color:#EB6329;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 120%; /* 26.4px */
                }
            }
        }
    }
    .production{
        color: #464646;
        font-size: 22px;
        line-height: 130%; /* 28.6px */
        p{
            font-weight: 500;
        }
        h4{
            font-weight: 700;
        }
        .production-info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 50px;
            column-gap: 40px;
            .marker-info{
                align-self: center;
                h4{
                    padding-top: 30px;
                    padding-bottom: 10px;
                }
                .right-info{
                    display: flex;
                    align-items: flex-start;
                    img{
                        padding-right: 15px;
                    }
                }
            }
        }
    }

}


/*Section 5*/


