/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: "Gilroy";
}

.center {
  max-width: 1316px;
  margin: 0 auto;
  width: 100%;
}

/*Section 1*/
.container-first {
  background-color: #FFF;
  height: 80px;
  border-bottom: 1px solid #E3E3E3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.container-first header {
  background: #fff;
  font-family: "Gilroy";
  margin-top: 14px;
  margin-bottom: 14px;
  align-items: center;
  display: grid;
  grid-template-columns: 610px 1fr 197px;
}

.container-first header .menu ul {
  display: flex;
  justify-content: space-between;
}

.container-first header .menu ul li a,
.container-first header .tel {
  color: #464646;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%; /* 18px */
  text-decoration: none;
}

.container-first header .menu ul li a img {
  margin-left: 8px;
  vertical-align: bottom;
}

.container-first header .tel {
  color: #EB6329;
  display: flex;
  justify-content: flex-end;
}

.head .head-content {
  background: url(../images/page4/metallokonstruk.jpg), lightgray 50%/cover no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  padding-top: 80px;
}

.head .head-content .head-content-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.head .head-content .head-content-name .name {
  display: grid;
  grid-template-columns: 15px 1fr;
  margin-top: 150px;
}

.head .head-content .head-content-name .name h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  line-height: 130%; /* 52px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 510px;
}

.head .head-content .head-content-name p {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  grid-column: 1;
  grid-row: 2;
  margin-top: 30px;
  width: 638px;
  margin-bottom: 362px;
}

/*Section 2*/
.resourcebase h2 {
  color: #EB6329;
  font-size: 34px;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
  letter-spacing: 1.02px;
  text-transform: uppercase;
}
.resourcebase h3 {
  color: #464646;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.84px;
  text-transform: uppercase;
  padding: 20px 0;
}
.resourcebase p {
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
  padding-bottom: 10px;
}
.resourcebase img {
  max-height: 747px;
  max-width: 1316px;
  margin-bottom: 100px;
}

/*Section 3*/
.technological-equipment h2 {
  color: #464646;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.84px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.technological-equipment h3 {
  color: #464646;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  margin-bottom: 20px;
}
.technological-equipment .container {
  padding-bottom: 30px;
}
.technological-equipment .container ul {
  border-bottom: solid 1px #D8D8D8;
}
.technological-equipment .container ul .col-6 {
  width: 49%;
}
.technological-equipment .container ul li a {
  color: #ABABAB;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%; /* 26.4px */
}
.technological-equipment .container ul li .active {
  color: #EB6329;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%; /* 26.4px */
}
.technological-equipment .Cleaning {
  color: #464646;
  font-size: 22px;
  line-height: 130%; /* 28.6px */
}
.technological-equipment .Cleaning p {
  font-weight: 500;
}
.technological-equipment .Cleaning h4 {
  font-weight: 700;
}
.technological-equipment .Cleaning .Cleaning-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.technological-equipment .Cleaning .Cleaning-info .marker-info {
  align-self: center;
}
.technological-equipment .Cleaning .Cleaning-info .marker-info h4 {
  padding-top: 30px;
  padding-bottom: 10px;
}
.technological-equipment .Cleaning .Cleaning-info .marker-info .right-info {
  display: flex;
  align-items: flex-start;
}
.technological-equipment .Cleaning .Cleaning-info .marker-info .right-info img {
  padding-right: 15px;
}

/*Section 4*/
.container-production h2 {
  color: #464646;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  margin-bottom: 30px;
  margin-top: 100px;
}
.container-production .container {
  padding-bottom: 30px;
}
.container-production .container ul {
  border-bottom: solid 1px #D8D8D8;
}
.container-production .container ul .col-6 {
  width: 49%;
}
.container-production .container ul li a {
  color: #ABABAB;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%; /* 26.4px */
}
.container-production .container ul li .active {
  color: #EB6329;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%; /* 26.4px */
}
.container-production .production {
  color: #464646;
  font-size: 22px;
  line-height: 130%; /* 28.6px */
}
.container-production .production p {
  font-weight: 500;
}
.container-production .production h4 {
  font-weight: 700;
}
.container-production .production .production-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.container-production .production .production-info .marker-info {
  align-self: center;
}
.container-production .production .production-info .marker-info h4 {
  padding-top: 30px;
  padding-bottom: 10px;
}
.container-production .production .production-info .marker-info .right-info {
  display: flex;
  align-items: flex-start;
}
.container-production .production .production-info .marker-info .right-info img {
  padding-right: 15px;
}

/*Section 5*/
.plot {
  margin-top: 100px;
  margin-bottom: 30px;
}
.plot p {
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%; /* 28.6px */
}
.plot h2 {
  color: #464646;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
}
.plot .painting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.plot .painting .painting-left {
  align-self: center;
}
.plot .painting .painting-left h4 {
  color: #464646;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
  padding-top: 30px;
  padding-bottom: 10px;
}
.plot .painting .painting-left .info {
  display: flex;
  align-items: flex-start;
}
.plot .painting .painting-left .info img {
  padding-right: 15px;
}
.plot .painting .painting-left .info p {
  padding-bottom: 10px;
}
.plot .configuration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-top: 30px;
}
.plot .configuration p {
  align-self: center;
}
.plot .storage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.plot .storage .storage-left {
  align-self: center;
}
.plot .storage .storage-left p {
  padding-bottom: 10px;
}
.plot .storage .storage-left .info {
  display: flex;
  align-items: flex-start;
}
.plot .storage .storage-left .info img {
  padding-right: 15px;
}
.plot .storage .storage-left .info p {
  padding-bottom: 10px;
}
.plot .stock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.plot .stock p {
  align-self: center;
}

/*Section 6*/
.mounting h2 {
  color: #464646;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.84px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.mounting .mounting {
  color: #464646;
  font-size: 22px;
  line-height: 130%; /* 28.6px */
  font-weight: 500;
}
.mounting .mounting .mounting-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.mounting .mounting .mounting-info .marker-info {
  align-self: center;
}
.mounting .mounting .mounting-info .marker-info p {
  padding-bottom: 10px;
}
.mounting .mounting .mounting-info .marker-info .right-info {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}
.mounting .mounting .mounting-info .marker-info .right-info img {
  padding-right: 15px;
}

/*Section 7*/
.container-help {
  margin-top: 150px;
}
.container-help .projects-bottom {
  background: #EB6329;
}
.container-help .projects-bottom .projects-questions h3 {
  color: #FFF;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 130%; /* 44.2px */
  padding-top: 150px;
  width: 906px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.container-help .projects-bottom .projects-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 150px;
}
.container-help .projects-bottom .projects-button .set p {
  color: #EB6329;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%; /* 20px */
  padding: 18px 22px;
  border: solid;
  background-color: #FFF;
  width: 213px;
}
.container-help .projects-bottom .projects-button .choose p {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%; /* 20px */
  padding: 18px 22px;
  border: solid 1px #FFF;
  background-color: #EB6329;
  width: 197px;
}/*# sourceMappingURL=main4.css.map */