/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Gilroy';
}

.center{
    max-width: 1316px;
    margin: 0 auto;
    width: 100%;
}

/*Section 1*/

.container-first{
    background-color: #FFF;
    height: 80px;
    border-bottom: 1px solid #E3E3E3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container-first header .burger {
    display: none;
}

.container-first header{
    background: #fff;
    font-family: 'Gilroy';
    margin-top: 14px;
    margin-bottom: 14px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 506px 197px;
}
.container-first header .menu .btn-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-first header .menu .btn-menu .dropdown .btn{
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
    padding: 0;
}
.container-first header .menu .btn-menu .dropdown .btn img{
    padding-left: 8px;
}

.container-first header .menu .btn-menu .dropdown .btn:hover{
    color: #EB6329;
}

.container-first header .menu .btn-menu .dropdown .line{
    margin-left: 8px;
    vertical-align: bottom;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu{
    padding: 20px;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu .one{
    padding-bottom: 10px;
    border-bottom: solid 1px #E3E3E3;
}

.container-first header .menu .btn-menu .dropdown .dropdown-menu .two{
    padding-top: 10px;
}

.container-first header .menu ul li a,
.container-first header .tel{
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
    
}

.container-first header .menu ul li a:hover{
    color: #EB6329;
}
.container-first header .menu ul li a img{
    margin-left: 8px;
    vertical-align: bottom;
}

.container-first header .tel{
    color: #EB6329;
    display: flex;
    justify-content: flex-end;
}

.head{
    .head-content{
        background: url(../images/page5/headerfon.png), lightgray 50% / cover no-repeat;
        background-size: cover;
        padding-top: 80px;
        width: 100%;
        max-width: 100%;
        background-position: center;
    }
}

.head .head-content .head-content-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.head .head-content .head-content-name .name{
    display: grid;
    grid-template-columns: 15px 1fr;
    margin-top: 150px;
}

.head .head-content .head-content-name .name h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%; /* 52px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 623px;
    padding-bottom: 410px;

}

/*Section 2*/

@mixin onlylarge($w)
{
    @media only screen and (max-width: $w)
    {
        @content;
    }
}

.container-industry{
    background: #F0F0F0;
    padding-bottom: 40px;
    .industry-info{
        h2{
            color: #464646;
            font-size: 28px;
            font-weight: 700;
            line-height: 120%; /* 33.6px */
            letter-spacing: 0.84px;
            text-transform: uppercase;
            padding-top: 80px;
            padding-bottom: 30px;
            @include onlylarge(800px){font-size: 20px;}
        }
        .industry-btn{
            
            .btn{
                font-size: 22px;
                font-weight: 600;
                line-height: 130%; /* 28.6px */
                padding: 15px 20px;
                border: 1.5px solid #464646;
                margin-bottom: 20px;
                margin-right: 20px;
                @include onlylarge(800px){font-size: 16px;}

            }

        }
        .arrow{
            padding-top: 20px;
            text-align: center;
            a{
                color: rgba(26, 26, 26, 0.8);
                font-size: 20px;
                font-weight: 700;
                line-height: 100%; /* 20px */
                text-decoration: none;
                @include onlylarge(800px){font-size: 15px;}
                img{
                    padding-left: 10px;
                }
            }

            
        }

    }
}

/*Section 3*/

.container-carts{
    margin-top: 100px;
    margin-bottom: 100px;
    @include onlylarge(1200px){margin-top: 80px; margin-bottom: 80px;}
    .cart-info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 50px;
        @include onlylarge(1200px){grid-template-columns: 1fr 1fr;}
        @include onlylarge(800px){grid-template-columns: 1fr;}
        .card{
            border: none;
            .card-body{
                padding: 0;
                color:#464646;
                h5{

                    font-size: 28px;
                    font-weight: 600;
                    line-height: 120%; /* 33.6px */
                    padding-top: 20px;
                    @include onlylarge(1200px){font-size: 24px;}
                }
                p{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 130%; /* 28.6px */
                    @include onlylarge(1200px){font-size: 18px;}
                }
            }
        }

    }
    .arrow{
        padding-top: 40px;
        text-align: center;
        a{
            color: rgba(26, 26, 26, 0.8);
            font-size: 20px;
            font-weight: 700;
            line-height: 100%; /* 20px */
            text-decoration: none;
            @include onlylarge(800px){font-size: 15px;}
            img{
                padding-left: 10px;
            }
        }

        
    }

}

/*Section 4*/

.container-base{
    margin-bottom: 150px;
    @include onlylarge(1200px){margin-bottom: 80px;}
    h2{
        color: #EB6329;
        font-size: 34px;
        font-weight: 700;
        line-height: 130%; /* 44.2px */
        letter-spacing: 1.02px;
        text-transform: uppercase;
        margin-bottom: 50px;
        @include onlylarge(1200px){font-size: 30px;}
        @include onlylarge(800px){font-size: 24px;}
    }
    .base-cart{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
        @include onlylarge(1336px) {grid-template-columns: 358px 358px 358px;justify-content: center;}
        @include onlylarge(1200px){grid-template-columns: 358px 358px;grid-template-rows: 1fr 1fr 1fr ;}
        @include onlylarge(800px){grid-template-columns: 358px ;grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;}

        .base-info{
            background:#F0F0F0;
            padding: 30px 20px;
            display: flex;
            grid-template-columns: 55px 1fr;
            column-gap: 20px;
            @include onlylarge(1336px){padding: 30px 10px;}
            @include onlylarge(800px){align-items: center; }

            p{
                color: #464646;
                font-size: 22px;
                font-weight: 600;
                line-height: 120%; /* 26.4px */
                @include onlylarge(1336px) {font-size: 18px;}
            }
            img{
                width: 55px;
                height: 55px;
            }

        }
    }
}
.container-info{
    background: #D8D8D8;
    padding-top: 150px;
    padding-bottom: 150px;
    @include onlylarge(1200px){ padding-top: 100px;padding-bottom: 100px;}
    h2{
        color:  #EB6329;
        text-align: center;
        font-size: 34px;
        font-weight: 700;
        line-height: 130%; /* 44.2px */
        @include onlylarge(1200px){font-size: 30px;}
        @include onlylarge(800px){font-size: 24px;}
    }
}

/*Section 5*/

.container-leaders{
    margin-bottom: 150px;
    h2{
        color: var(--Orange, #EB6329);
        font-size: 34px;
        font-weight: 700;
        line-height: 130%; /* 44.2px */
        letter-spacing: 1.02px;
        text-transform: uppercase;
        margin-top: 150px;
        margin-bottom: 20px;
        @include onlylarge(1200px){margin-top: 130px;font-size: 30px;}
        @include onlylarge(800px){font-size: 24px;margin-top: 100px}
    }
    p{
        color: #464646;
        font-size: 22px;
        font-weight: 500;
        line-height: 130%; /* 28.6px */
        width: 864px;
        margin-bottom: 40px;
        @include onlylarge(1200px){font-size: 18px;width: 100%;}
    }
    .leaders-logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 41px;
        row-gap: 40px;
        @include onlylarge(1200px){ grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr;column-gap: 53px; row-gap: 20px;}
        @include onlylarge(830px){ grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr;column-gap: 53px; row-gap: 20px;}
        @include onlylarge(800px){ grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr;column-gap: 20px; row-gap: 20px;}
        .logo-img{
            text-align: center;
        }

    }
}

/*Section 6*/
.container-contacts{
    background:#464646;
    padding: 150px;
    @include onlylarge(1336px) {padding: 130px 116px;}
    @include onlylarge(1200px){padding: 80px 57px;}
    @include onlylarge(825px){padding: 0;padding-top: 80px;padding-bottom: 80px;}
    .contacts-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        @include onlylarge(1200px) {grid-template-columns: 1fr;}
        .contacts-left{
            h3{
                color: #FFF;
                font-size: 34px;
                font-weight: 700;
                line-height: 130%; /* 44.2px */
                @include onlylarge(1200px){font-size: 30px;}
                @include onlylarge(800px){font-size: 24px;}
            }
            p{
                color: #FFF;
                font-size: 22px;
                font-weight: 500;
                line-height: 130%; /* 28.6px */
                padding-top: 20px;
                @include onlylarge(1200px){font-size: 18px;}
                span{
                    font-weight: 700;
                    text-decoration-line: underline;
                }
            }

        }
        .contacts-right{
            background-color: #FFF;
            padding: 60px;
            @include onlylarge(1336px) {width: 110%;}
            @include onlylarge(1200px){width: 720px;height: 770px; margin-top: 50px;justify-self: center;}
            @include onlylarge(900px){width: 100%;height: 100%;}
            @include onlylarge(600px){padding: 15px;}
        }
        .btn-dark{
            display: inline-flex;
            padding: 18px 28px;
            justify-content: center;
            align-items: center;
            background: #1A1A1A;
            a{
                color:#FFF;
                font-size: 18px;
                font-weight: 600;
                line-height: 100%; /* 18px */
                text-decoration: none;
            }
        }
    }
}



.container-contacts .contacts-info .contacts-right input,
.container-contacts .contacts-info .contacts-right select,
.container-contacts .contacts-info .contacts-right .form-floating{
    margin-bottom: 15px;
}

.container-contacts .contacts-info .contacts-right .form-floating textarea{
    height: 130px;
}

.container-contacts .contacts-info .contacts-right .form-check{
    color: #EB6329;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%; /* 18px */
    margin-bottom: 40px;

}

.container-contacts .contacts-info .contacts-right .form-check span{
    color: #464646;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
}

/*Section 7*/

.container-footer{
    background: #1A1A1A;
}

.container-footer .footer-info{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 453px 295px;

}

.container-footer .footer-info .footer-logo >img{
    padding-bottom: 19px;
}

.container-footer .footer-info .footer-logo .footer-left{
    display: grid;
    grid-template-columns: 30px 1fr;
    padding-top: 20px;
    align-items: end;

}

.container-footer .footer-info .footer-logo .footer-left a{
    color:  #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;
}

.container-footer .footer-info .footer-logo .footer-left a:hover{
    color: #EB6329;
}

.container-footer .footer-info .footer-logo .footer-policy p{
    color: rgba(235, 99, 41, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%; /* 16px */
    margin-top: 75px;
}

.container-footer .footer-info .footer-logo .footer-policy p span{
    color: rgba(171, 171, 171, 0.8);
}

.container-footer .footer-info .footer-center ul li{
    padding-bottom: 20px;
}

.container-footer .footer-info .footer-center ul li a{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration: none;

}

.container-footer .footer-info .footer-center ul li a:hover{
    color: #EB6329;
}


.container-footer .footer-info .footer-right h3{
    color: #EB6329;
    font-size: 28px;
    font-weight: 600;
    line-height: 100%; /* 28px */
    padding-bottom: 10px;
}

.container-footer .footer-info .footer-right  .tell{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    letter-spacing: 0.36px;
    padding-bottom: 38px;
}

.container-footer .footer-info .footer-right .right-info{
    display: grid;
    grid-template-columns: 30px 1fr;
    padding-bottom: 20px;
    align-items: center;
}

.container-footer .footer-info .footer-right .right-info a:hover{
    color: #EB6329;
}

.container-footer .footer-info .footer-right .right-address{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: start;
}

.container-footer .footer-info .footer-right .right-info .email{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    text-decoration-line: underline;
    text-transform: lowercase;

}

.container-footer .footer-info .footer-right .right-address .address{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    text-decoration: none;
}

.container-footer .footer-info .footer-right .right-address .address:hover{
    color: #EB6329;
}

.container-footer .footer-info .footer-right .footer-bootom{
    color:  #ABABAB;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%; /* 16px */
    padding-top: 70px;
    text-align: end;
}

@media screen and (max-width: 1336px){
    .center{
        width: calc(100% - 90px);
    }

    .container-first header .burger{
        display: block;
        height: 20px;
    }

    .container-first header .burger i{
        display: block;
        width: 30px;
        margin: 3px 0;
        height: 3px;
        background: #464646;
    }
    .container-first header .menu{
        /* display: none; */
        left: -100%;
        /* opacity: 0; */
        min-height: 100vh;
        background: #FFF;
        position: fixed;
        top: 0;
        /* left: 0; */
        width: 85%;
        z-index: 1;
        transition: 1s;
        min-width: 270px;
        color: #fff;
        margin-top: 80px;
        
    }

    .container-first header .menu.menu-show{
        left: 0;
        margin-top: 80px;
    }

    .container-first header .menu .btn-menu {
        align-items: flex-start;
        padding-left: 57px;
        padding-top: 30px;
        
    }

    .container-first header .menu .btn-menu li{
        border-bottom: 1px  solid #D8D8D8;
        padding-bottom: 30px;
        width: 95%;
        margin-top: 0;
    }

    .container-first header .menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .container-first header .menu ul img{
        display: none;
    }

    .container-first header .menu ul li,
    .container-first header .menu ul li.contact-btn{
        margin-left: 0;
        margin-right: 0;
        margin: 30px 0;
    }

    .container-first header .menu .btn-menu .dropdown .dropdown-menu{
        display: contents;
    }

    .container-first header .menu .btn-menu .dropdown .dropdown-menu .one{
        padding-top: 35px;
        padding-bottom: 30px;
    }

    .container-first header .menu .btn-menu .dropdown{
        border: none;
        margin-bottom: -30px;
    }

    .form-floating>label {
        z-index: 0;
    } 
    
    .head .head-content .head-content-name .name h1{
        font-size: 36px;
        width: 545px;
        border-left-style: solid;
        border-width: 5px;
        border-color: #EB6329;
        padding-left: 10px;
        height: 100%;
        padding-bottom: 0;
    }

    .head .head-content .head-content-name{
        grid-template-columns: 1fr;
        padding-bottom: 248px;
    }
    .head .head-content .head-content-name img{
        display: none;
    }

    .container-footer .footer-info{
        grid-template-columns: 1fr 1fr;
    }

    .container-footer .footer-info .footer-right{
        grid-column: 2/4;
        grid-row: 1;
        
    }

    .container-footer .footer-info .footer-center{
        grid-column: 1;
        grid-row: 1;
        padding-top: 60px;
    }

    .container-footer .footer-info .footer-logo .footer-left{
        display: none;
    }
    .container-footer .footer-info .footer-logo .Youtubeimg{
        display: block;
        padding-top: 160px;
    }

    .container-footer .footer-info .footer-logo{
        margin-top: -290px;
    }

    .container-footer .footer-info .footer-logo .footer-policy p{
        margin-top: 20px;
        font-size: 14px;
    }
    .container-footer .footer-info .footer-logo .footer-policy{
        margin-top: 200px;
    }

}

@media screen and (max-width: 825px){
    .center {
        width: calc(100% - 40px);
    }

    .container-first header .menu .btn-menu .dropdown .btn,
    .container-first header .menu ul li a,
    .container-first header .tel {
        font-size: 14px;
    }
    .container-first header .tel{
        display: none;
    }
    .container-first header{
        grid-template-columns: 1fr 1fr;
        justify-items: end;
    }

    .container-footer .footer-info{
        grid-template-columns: 1fr;
        grid-column: auto;
        grid-row: auto;
        width: 90%;
    }

    .container-footer .footer-info .footer-right {
        grid-column: 1;
        grid-row: 2;
    }

    .container-footer .footer-info .footer-center {
        grid-column: 1;
        grid-row: 3;
        margin-top: -280px;
        z-index: 1;
    }

    .container-footer .footer-info .footer-logo {
        margin-top: 0;
        z-index: 1;
    }

    .container-footer .footer-info .footer-logo .footer-left{
        display: block;
    }

    .container-footer .footer-info .footer-logo .Youtubeimg{
        padding-top: 20px;
    }

    .container-footer .footer-info .footer-logo >img{
        padding-bottom: 60px;
    }
    .container-footer .footer-info .footer-right{
        margin-top: -575px;
    }

    .container-footer .footer-info .footer-right .right-info{
        margin-top: 140px;
    }


    .container-footer .footer-info .footer-logo .footer-policy{
        margin-top: 360px;
    }

    .container-footer .footer-info .footer-right .footer-bootom{
        margin-top: 150px;
    }

    .head .head-content .head-content-name {
        padding-bottom: 160px;
    }



    .head .head-content .head-content-name .name {
        grid-template-columns: 1fr;
        margin-top: 80px;

    }
    .head .head-content .head-content-name .name h1{
        width: 100%;
        font-size: 24px;
        border-width: 3px;
    }
}